#container {
    display: flex;
    flex-wrap: wrap;
    width: 864px;
    height: 864px;
    margin: 0;
    padding: 0;
}

#container div {
    border: 2px solid black;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.colored {
    background-color: black;
}